<template>
  <div class="breadcrumbs">
    <template v-for="(match, i) in matches" :key="`bread-${i}`">
      <router-link v-if="matches.length -1 !== i" :to="match.path">{{ match.meta.breadName }}</router-link>
      <span v-else>{{ match.meta.breadName }}</span>
    </template>
  </div>
</template>

<style lang="scss">
.breadcrumbs {
  @apply pb-4;

  span, a {
    font-size: 1.25em;
  }

  a {
    transition: .3s color;
    color: var(--aui-color-link);
    &:hover {
      color: var(--aui-color-link-hover)
    }
  }

  span:not(.breadcrumbs span:last-child), a {
    cursor: pointer;
    &:after {
      @apply font-extrabold mx-1;
      color: var(--color-text);
      content: ' / ';
    }
  }

  span:last-child {
    cursor: not-allowed;
  }
}
</style>
<script setup lang="ts">
import { computed } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const matches = computed(() => router.currentRoute.value.matched)
</script>