<template>
  <header>
    <router-link class="logo" to="/">
      <img alt="Vue logo" src="../assets/logo.svg" />
      <span class="logo-text">Admin UI</span>
    </router-link>
  </header>
</template>

<style scoped lang="scss">
header {
  @apply relative;
  filter: drop-shadow(0px 0px 2px var(--aui-color-divider));
  .logo {
    @apply flex max-h-[3.5rem] w-1/5 justify-center items-center py-2;

    box-sizing: border-box;
    transition: .3s all;
    border-right: 1px solid var(--aui-color-divider);

    img {
      @apply aspect-square max-h-[1.7em] relative z-10;
      transform: rotate(180deg) translateX(calc(-1.55em / 2)) scale(0.95) translateY(-0.05em);
    }

    &-text {
      @apply relative font-bold flex items-center;
      transform: translateX(calc(-1.55em / 4));
      font-size: 2em;
      line-height: 1.7em;
      color: var(--vt-c-brand);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.25);
    }
  }

  &:after {
    @apply w-full absolute bottom-0;
    height: var(--aui-width-divider);
    background: var(--aui-color-divider);
    content: '';
  }
}
</style>
<script setup lang="ts">
</script>