<template>
  <div class="sidebar">
    <div class="sidebar-menu">
      <router-link to="/users" class="sidebar-menu__item" :class="{ active: route.path === '/users' }">Users</router-link>
    </div>
  </div>
</template>

<style scoped lang="scss">
.sidebar {
  @apply w-1/5 h-full relative;
  filter: drop-shadow(0px 0px 2px var(--aui-color-divider));

  &:after {
    @apply h-full absolute top-0 right-0;
    width: var(--aui-width-divider);
    background: var(--aui-color-divider);
    content: '';
  }

  &-menu {
    &__item {
      @apply p-4 w-full flex h-[3.5rem] items-center justify-center;
      box-sizing: border-box;
      font-size: 1.5em;
      line-height: 1em;
      border-bottom: var(--aui-width-divider) solid var(--aui-color-divider);

      transition: .3s all;
      color: var(--aui-color-link);

      &.active {
        background: rgba(0, 0, 0, 0.25);
      }

      &:hover {
        color: var(--aui-color-link-hover);
        border-bottom: 1px solid var(--aui-color-link-hover);
        background: rgba(0, 0, 0, 0.25);
      }
    }
  }
}
</style>
<script setup lang="ts">
import { useRoute } from 'vue-router'

const route = useRoute()
</script>