.aui-input {
  @apply p-2 rounded-[0.25em] relative z-10;
  transition: .3s padding-bottom, .3s padding-top;
  &_holder {
    @apply relative
  }

  border: 1px solid var(--aui-tile-header-background);
  filter: drop-shadow(0px 0px 2px var(--aui-tile-header-background));

  background: var(--vt-c-gray-dark-5);
  input {
    @apply w-full h-full;
    background: var(--vt-c-gray-dark-5);
    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .error-text {
    @apply absolute p-2 flex items-center z-20 justify-end;
    transition: .25s all, 0s height, 0s color, 0s text-shadow, 0s top, 0s right, 0s translateY;
    border-radius: 0 0.25em 0 0.25em;
    right: calc(-0.5em - 1px);
    top: calc(-0.5em - 1px);
    width: 1.5em;
    height: 1.5em;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    font-size: 0.75em;
    background: var(--vt-c-red-dark);
    color: var(--vt-c-red-dark);
    font-weight: 700;
    white-space: nowrap;
    pointer-events: none;

    &:before {
      @apply absolute top-0 right-0 z-20 p-2 font-extrabold;
      content: '?';
      font-family: Logo, sans-serif;
      font-size: 1em;
      transform: translateY(-0.6em) translateX(0.1em);
      color: var(--vt-c-black);
      pointer-events: visiblePainted;
      cursor: help;
    }

    &:hover {
      @apply rounded-[0.25em] pr-6;
      transition: .25s all, .2s height, .75s color;
      width: calc(100% + 1em + 2px);
      height: calc(100% + 1em + 2px);
      color: var(--vt-c-white);
      text-shadow: (1px 1px 0px black);
      &:before {
        opacity: 0;
      }
    }
  }
}

.focus {
  .aui-input {
    .error-text {
      border-radius: 0.25em 0.25em 0 0;
      transition: .25s all, .1s height, .75s color;
      transform: translateY(-70%) translateX(1px);
      background: var(--vt-c-red-dark);
      color: var(--vt-c-white);
      width: calc(100% + 1em + 4px);
      height: calc(25% + 1em);
      text-shadow: (1px 1px 0px black);

      &:before {
        opacity: 0;
      }
    }
  }
}

.error {
  .aui-input {
    border-color: var(--vt-c-red-dark)
  }

  .aui-label {
    color: var(--vt-c-red-dark)
  }
}

.error.focus {
  .aui-input {
    padding-top: 0.8rem;
    padding-bottom: 0.2rem;
  }
}