<script setup lang="ts">
import { useRouter } from 'vue-router'

const router = useRouter()

console.log(router)
</script>

<template>
  <router-view v-if="router.currentRoute.value.path !== '/'" />
  <template v-else>
    This is Home
  </template>
</template>

<style scoped>

</style>
