<script setup lang="ts">
import { UsersList} from '@/widgets'
import Breadcrumbs from '@/components/AppBreadcrumbs.vue'

</script>

<template>
  <Breadcrumbs />
  <div class="content">
    <UsersList />
  </div>
</template>

<style scoped>

</style>
