:root {
  --aui-default-modal-max-width: 40em;
  --aui-default-modal-width: calc(var(--aui-default-modal-max-width) - 2em);
  --aui-default-modal-height: calc(var(--aui-default-modal-max-width) / 1.5)
}

.aui-modal {
  @apply absolute z-50;

  &:before {
    @apply fixed z-40 w-screen h-screen top-0 left-0;
    background: rgba(0,0,0,0.5);
    content: '';
  }

  &_content {
    @apply w-full h-full relative z-50 rounded-[0.25em] flex flex-col;
    background: var(--aui-tile-background);
    filter: drop-shadow(0px 0px 2px var(--aui-color-divider));
    border: calc(var(--aui-width-divider)) solid var(--aui-color-divider-darker);

    &-title {
      @apply p-2 flex justify-between;
      background: var(--aui-tile-header-background);
      border-bottom: calc(var(--aui-width-divider)) solid var(--aui-color-divider-darker);
      &_content {
        @apply px-2 flex items-end;
        font-size: 2em;
        font-weight: 900;
      }

      &_controls {
        .aui-button {
          aspect-ratio: 1 / 1;
          height: 2.4em;
        }

        &__font {
          @apply font-extrabold;
          line-height: 0.1em;
        }
      }
    }

    &-content {
      @apply pl-4 pr-2 pt-4 pb-4 h-full;
    }

    &-submits {
      @apply p-2 flex justify-end;
    }
  }
}