.aui-form {
  @apply relative z-0;
  &_field {
    @apply flex justify-between gap-4 items-center mb-4 relative z-10;

    .aui-input {
      @apply w-3/4 relative z-10;
      font-size: 1.25em;
    }

    .aui-label {
      @apply w-1/4;
    }

    .aui-label {
      @apply flex justify-end;
    }
  }
}