@import 'base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  @apply h-screen flex w-screen flex-col;
  margin: 0 auto;
  font-weight: normal;

  main {
    @apply h-full flex;

    .main {
      @apply p-4;
      flex: 1;
      background: var(--vt-c-gray-dark-5);

      .content {
        @apply py-4;
      }
    }
  }
}