.aui-table {
  @apply rounded-[0.25em] my-[1em];
  background: var(--aui-tile-background);
  border: var(--aui-width-divider) solid var(--aui-color-divider-darker);
  border-bottom: none;
  overflow-y: scroll;
  filter: drop-shadow(0px 0px 2px var(--aui-color-divider));

  & .table-header {
    font-size: 1em;
    font-weight: 700;
    background: var(--aui-tile-header-background);
  }

  & .table-item {
    @apply flex p-[1em] items-center;
    border-bottom: var(--aui-width-divider) solid var(--aui-color-divider-darker);
  }
}