<script setup lang="ts">
import AppHeader from './components/AppHeader.vue'
import AppSidebar from './components/AppSidebar.vue'
</script>

<template>
  <AppHeader />

  <main>
    <AppSidebar />
    <div class="main">
      <router-view />
    </div>
  </main>
</template>

<style scoped>

</style>
