<script setup lang="ts">
import { defineProps, defineEmits, type PropType } from 'vue'

type Colors = 'green' | 'red' | 'yellow'
type Sizes = 'small' | 'medium' | 'no-p'

defineEmits(['click'])
defineProps({
  color: {
    type: String as PropType<Colors>,
    default: 'green'
  },
  size: {
    type: String as PropType<Sizes>,
    default: 'medium'
  },
  disabled: {
    type: Boolean,
    default: false,
  }
})
</script>

<template>
  <button v-on:click="$emit('click')" :class="`aui-button ${color} ${size}`" :disabled="disabled">
    <slot></slot>
  </button>
</template>

<style lang="scss">
.aui-button {
  font-size: 1.25em;
  font-weight: 700;
  border-radius: 5px;

  &:disabled {
    filter: grayscale(0.75);
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  &.small {
    @apply px-2 py-1;
  }

  &.no-p {
    @apply px-0 py-0;
  }

  &.medium {
    @apply px-4 py-2;
  }

  &.green {
    transition: .3s all;
    background: var(--vt-c-brand);
    color: var(--vt-c-green-darkest);
    border-bottom: 3px solid var(--vt-c-green-darker);
    border-left: 3px solid var(--vt-c-green-dark);
    border-right: 3px solid var(--vt-c-green-dark);

    &:hover:not(&:disabled) {
      color: var(--vt-c-white);
      background: var(--vt-c-green-dark);
      filter: drop-shadow(0 0 3px var(--vt-c-green));
    }

    &:active {
      filter: drop-shadow(0 0 6px var(--vt-c-green));
    }
  }

  &.red {
    opacity: 0.5;
    transition: .3s all;
    background: var(--vt-c-red);
    color: var(--vt-c-red-darkest);
    border-bottom: 3px solid var(--vt-c-red-darker);
    border-left: 3px solid var(--vt-c-red-dark);
    border-right: 3px solid var(--vt-c-red-dark);

    &:hover:not(&:disabled) {
      opacity: 1;
      color: var(--vt-c-white);
      background: var(--vt-c-red-dark);
      filter: drop-shadow(0 0 3px var(--vt-c-red));
    }

    &:active {
      filter: drop-shadow(0 0 6px var(--vt-c-red));
    }
  }

  &.yellow {
    transition: .3s all;
    background: var(--vt-c-yellow);
    color: var(--vt-c-yellow-darkest);
    border-bottom: 3px solid var(--vt-c-yellow-darker);
    border-left: 3px solid var(--vt-c-yellow-dark);
    border-right: 3px solid var(--vt-c-yellow-dark);

    &:hover:not(&:disabled) {
      color: var(--vt-c-white);
      background: var(--vt-c-yellow-dark);
      filter: drop-shadow(0 0 3px var(--vt-c-yellow));
    }

    &:active {
      filter: drop-shadow(0 0 6px var(--vt-c-yellow));
    }
  }
}
</style>